<div class="header" fxLayout="row">
  <div fxFlex="50%">
    <a routerLink="">home</a>
  </div>
  <div fxFlex="50%" fxLayoutAlign="end">
    <span i18n>🇺🇸</span>
  </div>
</div>
<div class="slide">
  <h1 i18n>Welcome to internationalization (i18n)!</h1>
  <h4 i18n>By AJ</h4>
  <h5>{{ todaysDate | date }}</h5>
</div>
<div class="footer" fxLayout="row">
  <div fxFlex="50%">
    <a i18n-href href="http://localhost:1337/" i18n>previous</a>
  </div>
  <div fxFlex="50%" fxLayoutAlign="end">
    <a i18n-href href="http://localhost:2337/" i18n>next</a>
  </div>
</div>
