<div class="header" fxLayout="row">
  <div fxFlex="50%">
    <a routerLink="">home</a>
  </div>
  <div fxFlex="50%" fxLayoutAlign="end">
    <span i18n>🇺🇸</span>
  </div>
</div>
<div class="slide">
  <h2>Introduction</h2>
  <ul>
    <li>i18n in template</li>
    <li>i18n in TypeScript</li>
    <li>build and deployments</li>
    <li>demo</li>
  </ul>
</div>
<div class="footer" fxLayout="row">
  <div fxFlex="50%">
    <a href="http://localhost:3337/" i18n>previous</a>
  </div>
  <div fxFlex="50%" fxLayoutAlign="end">
    <a href="http://localhost:1337/greetings" i18n>next</a>
  </div>
</div>
