<div class="header" fxLayout="row">
  <div fxFlex="50%">
    <a routerLink="">home</a>
  </div>
  <div fxFlex="50%" fxLayoutAlign="end">
    <span i18n>🇺🇸</span>
  </div>
</div>
<div class="slide">
  <h2 i18n>i18n template</h2>
  <div fxLayout="row">
    <div class="code" fxFlex="50%">
      <markdown lineNumbers [data]="markdown"></markdown>
    </div>
    <div class="example" fxFlex="50%">
      <ul>
        <li i18n>Hello, how are you?</li>
        <li i18n>Hi, I'm good.</li>
        <li i18n>What's new with you?</li>
        <li i18n>I bought this hoody for {{ hoodyCost | currency }}</li>
        <li i18n>It looks good on you!</li>
      </ul>
    </div>
  </div>
</div>
<div class="footer" fxLayout="row">
  <div fxFlex="50%">
    <a i18n-href href="http://localhost:1337/intro" i18n>previous</a>
  </div>
  <div fxFlex="50%" fxLayoutAlign="end">
    <a i18n-href href="http://localhost:2337/greetings" i18n>next</a>
  </div>
</div>
